@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../imagenes/articulos/13416.jpg");
  background-image: url("13416.jpg");
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  grid-template-rows: 100px 100px;
}

.navbar {
  grid-area: navbar;
  background-color: #c7d2d8;
}

.main {
  grid-area: main;
  background-color: #414445;
}

.footer {
  grid-area: footer;
}
.footer2 {
  grid-area: footer2;
  background-color: #8c96a0;
}
.header {
  grid-area: header;
  background-color: #74787a;
  text-align: left;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header" 100px
    "navbar" 70px
    "email" 100px
    "footer" 250px
    "footer2" 120px;
  grid-template-rows: 100px 70px 60% 250px 100px;
}
@media (min-width: 600px) {
}
/*Vacio por ahora*/
@media (min-width: 900px) {
  /*Vacio por ahora*/
}
nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: rgb(0, 0, 0);
}
nav ul li {
  float: left;
  margin: 0em auto;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 1px;
}
nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  padding: 12px;
  text-align-last: center;
}
.Registro {
  position: absolute;
  top: 20px;
  right: 60px;
  color: #ffff;
  cursor: pointer;
}
.contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font-weight: 700;
}

.contacto__label {
  display: block;
  font-weight: 700;
  padding: 10px;
}
.contacto__grupo {
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}
.contacto__grupo-input {
  position: relative;
}
.contacto__grupo2-input {
  align-items: center;
}

.contacto__input {
  width: 100%;
  background: #fff;
  border: 3px solid black;
  border-radius: 3px;
  line-height: 28px;
  transition: 0.3s ease all;
  font-size: 20px;
}
.contacto__input2 {
  width: 100%;
  background: #fff;
  border: 3px solid black;
  border-radius: 3px;
  line-height: 40px;
  transition: 0.3s ease all;
  font-size: 20px;
}

.contacto__input:focus {
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.contacto__grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto__btn {
  margin: 10px;
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
  font-size: 25px;
}

.contacto__btn:hover {
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}
.ingresar {
  float: right;
  font-size: 20px;
  color: black;
  display: inline table;
  padding: auto;
}
.Carrito {
  float: right;
  font-size: 37px;
  color: black;
  display: inline table;
  margin: 20px;
}
.search-wrapper span {
  display: inline-flexbox;
  padding: 0rem 1rem;
  font-size: 1.6rem;
}
.search-wrapper {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  width: 400px;
  display: inline-flex;
}
.las la-search {
  background-color: red;
}
.search-wrapper input {
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
}
body .ventana {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ventana {
  z-index: 2;
  position: fixed; /*define una posición relativa*/
  top: 0;
  left: 0;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /*colores que se determian como rgb y al final la opacidad para que sea transparente*/
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden; /*oculta la ventana ya que necesitamos que se abra al hacer click en el boton*/
}

/*ACLARACIÓN COMO EL BOTON Y LA X TIENEN EL MISMO ID, CUANDO SE DE CLIC EN EL BOTÓN EL CHECK SE ACTIVARA Y MOSTRARÁ 
LA VENTANA, AL DAR EN X SE DESACTIVA CHECK POR ENDE SE CIERRA*/

#btn-up:checked ~ .ventana {
  opacity: 1;
  visibility: visible;
}

.contenedor {
  width: 400px;
  height: 460px;
  margin: auto; /*para que se centre el elemetno de forma automatica*/
  background: #ffff;
  box-shadow: 1px 7px 25px black; /*efecto sombra*/
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}

#btn-up:checked ~ .ventana .contenedor {
  transform: translateY(
    0
  ); /*da efecto de traslacion en el eje de las y, por ende en el sentido vertical*/
}

.contenedor header {
  padding: 20px;
  background: #8c96a0;
  color: #ffff;
}

.X {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffff;
  cursor: pointer;
}
#btn-up {
  position: absolute;
  top: 20px;
  left: 200px;
  display: none; /*para que no muestre el cuadrito del check*/
}

.up {
  background: #0075ff;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  color: #ffff;
}
.up:hover {
  background: black;
}

.contenido {
  margin: auto;
  /* VER VARIACIONES DE FORMULARIOS EN EL MATERIAL DE FORMULARIOS */
}
.Contenido {
  display: block;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  outline: none;
}

input[type="submit"] {
  width: 120px;
  background: #200fb8;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  color: #ffff;
}
input[type="submit"]:hover {
  background: gray;
}
body .ventana2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ventana2 {
  z-index: 2;
  position: fixed; /*define una posición relativa*/
  top: 0;
  left: 0;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /*colores que se determian como rgb y al final la opacidad para que sea transparente*/
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden; /*oculta la ventana ya que necesitamos que se abra al hacer click en el boton*/
}

/*ACLARACIÓN COMO EL BOTON Y LA X TIENEN EL MISMO ID, CUANDO SE DE CLIC EN EL BOTÓN EL CHECK SE ACTIVARA Y MOSTRARÁ 
LA VENTANA, AL DAR EN X SE DESACTIVA CHECK POR ENDE SE CIERRA*/

#btn-up2:checked ~ .ventana2 {
  opacity: 1;
  visibility: visible;
}

.contenedor2 {
  width: 400px;
  height: 400px;
  margin: auto; /*para que se centre el elemetno de forma automatica*/
  background: #ffff;
  box-shadow: 1px 7px 25px black; /*efecto sombra*/
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}

#btn-up2:checked ~ .ventana2 .contenedor2 {
  transform: translateY(
    0
  ); /*da efecto de traslacion en el eje de las y, por ende en el sentido vertical*/
}

.contenedor2 header {
  padding: 20px;
  background: #8c96a0;
  color: #ffff;
}

.X2 {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffff;
  cursor: pointer;
}
#btn-up2 {
  position: absolute;
  top: 20px;
  left: 200px;
  display: none; /*para que no muestre el cuadrito del check*/
}

.up2 {
  background: #0075ff;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  color: #ffff;
}
.up2:hover {
  background: black;
}

.contenido2 {
  margin: auto;
  /* VER VARIACIONES DE FORMULARIOS EN EL MATERIAL DE FORMULARIOS */
}
.Contenido2 {
  display: block;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  outline: none;
}
