@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../imagenes/articulos/29.jpg");
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  grid-template-rows: 100px 100px;
}

.navbar {
  grid-area: navbar;
  background-color: #c7d2d8;
}

.main {
  grid-area: main;
  background-color: #414445;
}

.footer {
  grid-area: footer;
}
.footer2 {
  grid-area: footer2;
  background-color: #8c96a0;
}
.header {
  grid-area: header;
  background-color: #74787a;
  text-align: left;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header" 100px
    "navbar" 70px
    "email" 100px
    "footer" 250px
    "footer2" 120px;
  grid-template-rows: 100px 70px 80% 250px 100px;
}
@media (min-width: 600px) {
}
/*Vacio por ahora*/
@media (min-width: 900px) {
  /*Vacio por ahora*/
}
nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: rgb(0, 0, 0);
}
nav ul li {
  float: left;
  margin: 0em auto;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 1px;
}
nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  padding: 12px;
  text-align-last: center;
}
.contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font-weight: 700;
}

.contacto__label {
  display: block;
  font-weight: 700;
  padding: 10px;
}
.contacto__grupo {
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}
.contacto__grupo-input {
  position: relative;
}
.contacto__grupo2-input {
  align-items: center;
}

.contacto__input {
  width: 100%;
  background: #fff;
  border: 3px solid #c7d2d8;
  border-radius: 3px;
  line-height: 28px;
  transition: 0.3s ease all;
  font-size: 20px;
}
.contacto__input2 {
  width: 100%;
  background: #fff;
  border: 3px solid #c7d2d8;
  border-radius: 3px;
  line-height: 40px;
  transition: 0.3s ease all;
  font-size: 20px;
}

.contacto__input:focus {
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.contacto__grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto__btn {
  margin: 10px;
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
  font-size: 25px;
}

.contacto__btn:hover {
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}
.ingresar {
  float: right;
  font-size: 37px;
  color: black;
  display: inline table;
}
.search-wrapper span {
  display: inline-flexbox;
  padding: 0rem 1rem;
  font-size: 1.6rem;
}
.search-wrapper {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  width: 400px;
  display: inline-flex;
}
.las la-search {
  background-color: red;
}
.search-wrapper input {
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
}
